*{
  box-sizing: border-box;
}

:root{
  --note-card-border-radius: 10px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: #88888871;
  border-radius: 30px;
  transition: all 300ms ease-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.auth-container{
  /* background-color: red; */
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-sub-container{
  /* background-color: #f9f9f984; */
  border: 1px solid rgb(215, 215, 215);
  margin: 20px 0;
  border-radius: 20px;
  box-shadow: 0 5px 15px 0 rgb(215, 215, 215);
  width: 90%;
  max-width: 850px;
  padding: 30px 40px;
}

.form-row{
  margin-top: 25px;
}

.form-mid-col{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-mid-col > span{
  padding: 15px 0;
}

.form-col{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-common{
  width: 100%;
}

.form-height{
  height: 50px;
}

.remember-div{
  display: flex;
  gap: 3px;
}

.remember-div > input{
  cursor: pointer;
}

.auth-main-btn{
  width: 100%;
}

.error-msg{
  position: fixed;
  z-index: 1000;
  margin: auto;
  top: 15px;
  background-color: rgb(255, 179, 179);
  padding: 10px 15px;
  border-radius: 10px;
  border: solid 1px rgba(0, 0, 0, 0.289);
  box-shadow: 0 5px 10px 0 rgb(215, 215, 215);
  transition: all 500ms ease-in-out;
}

.success-msg{
  background-color: rgb(180, 255, 180);
}

.notes-filter-div{
  display: flex;
  align-items: center;
  gap: 3px;
}

.notes-container{
  display: flex;
  flex-wrap: wrap;
}

.note-card{
  width: calc(33% - 20px);
  margin: 10px;
  padding: 0;
  height: 200px;
  border-radius: var(--note-card-border-radius);
  /* box-shadow: 0 5px 15px 0 rgb(215, 215, 215); */
}

.card-top{
  display: flex;
  padding: 0 15px;
  padding-top: 20px;
  height: 80px;
  border-top-right-radius: var(--note-card-border-radius);
  border-top-left-radius: var(--note-card-border-radius);
  border: 1px solid rgb(215, 215, 215);
}

.card-bottom{
  padding: 9px 15px;
  /* padding-bottom: 20px; */
  height: calc(100% - 80px);
  border-bottom-left-radius: var(--note-card-border-radius);
  border-bottom-right-radius: var(--note-card-border-radius);
  border: 1px solid rgb(215, 215, 215);
  overflow-y: scroll;
  overflow-x: hidden;
}

.card-top > div{
  width: calc(100% - 70px);
  /* color: rgb(81, 81, 81); */
  letter-spacing: 0.5px;
}

.card-top > div > small{
  position: relative;
  bottom: 10px;
}

.top-right{
  width: 70px;
  display: flex;
  gap: 10px;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
  font-size: 1.2rem;
  /* background: red; */
  position: relative;
  top: 5px;
}

.top-right > button{
  /* color: #0D6EFD; */
  color: rgb(81, 81, 81);
  transition: all 300ms ease-out;
  border-radius: 50%;
}

.top-right > button:hover{
  color: rgb(145, 145, 145);
  box-shadow: 0 0 50px 0 rgb(200, 200, 200);
}

.card-bottom span{

}

.card-btn{
  background: none;
  border: none;
  outline: none;
}

.add-note-card{
  background: none;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(33% - 20px);
  height: 200px;
  margin: 10px;
  border-radius: var(--note-card-border-radius);
  border: 5px dashed rgb(215, 215, 215);
  font-size: 2.25rem;
  color: rgb(215, 215, 215);
  cursor: pointer;
  transition: all 300ms ease-out;
}

.add-note-card:hover{
  font-size: 2.5rem;
}

.add-note-card > div{
  text-align: center;
}

@media only screen and (max-width: 770px) {
  .notes-container{
    flex-direction: column;
  }

  .note-card, .add-note-card{
    width: calc(100% - 20px);
  }
}