*{
  box-sizing: border-box;
}

.auth-container{
  /* background-color: red; */
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-sub-container{
  /* background-color: aliceblue; */
  border: 1px solid rgb(215, 215, 215);
  border-radius: 20px;
  box-shadow: 0 5px 15px 0 rgb(215, 215, 215);
  width: 90%;
  max-width: 800px;
  padding: 20px 30px;
}

.form-row{
  margin-top: 25px;
}

.form-mid-col{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-mid-col > span{
  padding: 15px 0;
}

.form-col{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-common{
  width: 100%;
}

.auth-main-btn{
  width: 100%;
}

.error-msg{
  position: absolute;
  top: 15px;
  background-color: rgb(255, 126, 126);
  padding: 10px 15px;
  border-radius: 10px;
  border: solid 1px rgba(0, 0, 0, 0.289);
  box-shadow: 0 5px 10px 0 rgb(215, 215, 215);
  transition: all 500ms ease-in-out;
}